body {
  font-family: Arial;
  background: #0d1117;
  color: white;
  margin: 0;
}

header {
  background: #161b22;
  padding: 10px;
  text-align: center;
}

.kpi {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.card {
  background: #21262d;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

.panel {
  background: #21262d;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

select, button {
  padding: 8px;
  margin: 5px;
}

.bayContainer {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.bay {
  background: #21262d;
  padding: 10px;
  border-radius: 8px;
  flex: 1;
}

.ups {
  background: #30363d;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}